# Simple EDA with Python

In [35]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#Import Data
df_as = pd.read_csv("./Data/AllstarFull.csv") #All Stars
df_bat = pd.read_csv("./Data/Batting.csv") #batting (reg season)
df_postbat = pd.read_csv("./Data/BattingPost.csv") #batting (postseason)
df_field = pd.read_csv("./Data/Fielding.csv") #fielding
df_pitch = pd.read_csv("./Data/Pitching.csv") #pitching
df_postpitch = pd.read_csv("./Data/PitchingPost.csv") #Postseason Pitching
df_sal = pd.read_csv("./Data/Salaries.csv") #salaries
df_people = pd.read_csv("./Data/People.csv") #player names

In [3]:
df_as.head()

    playerID  yearID  gameNum        gameID teamID lgID  GP  startingPos
0  gomezle01  1933.0      0.0  ALS193307060    NYA   AL   1          1.0
1  ferreri01  1933.0      0.0  ALS193307060    BOS   AL   1          2.0
2  gehrilo01  1933.0      0.0  ALS193307060    NYA   AL   1          3.0
3  gehrich01  1933.0      0.0  ALS193307060    DET   AL   1          4.0
4  dykesji01  1933.0      0.0  ALS193307060    CHA   AL   1          5.0

In [11]:
#Look at some other columns of interest
df_bat.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

In [12]:
df_field.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'POS', 'G', 'GS',
       'InnOuts', 'PO', 'A', 'E', 'DP', 'PB', 'WP', 'SB', 'CS', 'ZR'],
      dtype='object')

In [13]:
df_sal.columns

Index(['yearID', 'teamID', 'lgID', 'playerID', 'salary'], dtype='object')

# Look at only the last decade of data

In [24]:
#Create a function to filter for the last decade of data (max year is 2020)
def decadeonly(mydf):
    mydf = mydf[mydf['yearID']>=2010]
    return mydf

### Analysis 1: Evaluation of MLB All Stars

In [30]:
df_AS = decadeonly(df_as)
df_AS

       playerID  yearID  gameNum        gameID teamID lgID  GP  startingPos
4604  priceda01  2010.0      0.0  ALS201007130    TBA   AL   1          1.0
4605  mauerjo01  2010.0      0.0  ALS201007130    MIN   AL   1          2.0
4606  cabremi01  2010.0      0.0  ALS201007130    DET   AL   1          3.0
4607   canoro01  2010.0      0.0  ALS201007130    NYA   AL   1          4.0
4608  longoev01  2010.0      0.0  ALS201007130    TBA   AL   1          5.0
...         ...     ...      ...           ...    ...  ...  ..          ...
5369  smithwi04  2019.0      0.0  ALS201907090    SFN   NL   1          NaN
5370  sorokmi01  2019.0      0.0  ALS201907090    ATL   NL   1          NaN
5371  storytr01  2019.0      0.0  ALS201907090    COL   NL   1          NaN
5372  woodrbr01  2019.0      0.0  ALS201907090    MIL   NL   1          NaN
5373  yateski01  2019.0      0.0  ALS201907090    SDN   NL   0          NaN

[770 rows x 8 columns]

### Get the all stars' regular season stats at the END of the season (overall evaluation)

In [31]:
df_BAT = decadeonly(df_bat)
df_BAT

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
92865,aardsda01,2010,1,SEA,AL,53,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
92866,abadfe01,2010,1,HOU,NL,22,1,0,0,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
92867,abreubo01,2010,1,LAA,AL,154,573,88,146,41,...,78.0,24.0,10.0,87,132.0,3.0,2.0,0.0,5.0,13.0
92868,abreuto01,2010,1,ARI,NL,81,193,16,45,11,...,13.0,2.0,1.0,4,47.0,0.0,0.0,0.0,4.0,8.0
92869,accarje01,2010,1,TOR,AL,5,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108784,zimmebr02,2020,1,BAL,AL,2,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108785,zimmejo02,2020,1,DET,AL,3,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108786,zimmeky01,2020,1,KCA,AL,16,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108787,zuberty01,2020,1,KCA,AL,23,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108788,zuninmi01,2020,1,TBA,AL,28,75,8,11,4,...,10.0,0.0,0.0,6,37.0,0.0,3.0,0.0,0.0,0.0

In [54]:
df1 = df_AS.merge(df_BAT, on=['playerID','yearID'], how='left')
df1

,playerID,yearID,gameNum,gameID,teamID_x,lgID_x,GP,startingPos,stint,teamID_y,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,priceda01,2010.0,0.0,ALS201007130,TBA,AL,1,1.0,1,TBA,...,0.0,0.0,0.0,0,5.0,0.0,0.0,0.0,0.0,0.0
1,mauerjo01,2010.0,0.0,ALS201007130,MIN,AL,1,2.0,1,MIN,...,75.0,1.0,4.0,65,53.0,14.0,3.0,0.0,6.0,19.0
2,cabremi01,2010.0,0.0,ALS201007130,DET,AL,1,3.0,1,DET,...,126.0,3.0,3.0,89,95.0,32.0,3.0,0.0,8.0,17.0
3,canoro01,2010.0,0.0,ALS201007130,NYA,AL,1,4.0,1,NYA,...,109.0,3.0,2.0,57,77.0,14.0,8.0,0.0,5.0,19.0
4,longoev01,2010.0,0.0,ALS201007130,TBA,AL,1,5.0,1,TBA,...,104.0,15.0,5.0,72,124.0,12.0,5.0,0.0,10.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797,smithwi04,2019.0,0.0,ALS201907090,SFN,NL,1,NaN,1,SFN,...,2.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0
798,sorokmi01,2019.0,0.0,ALS201907090,ATL,NL,1,NaN,1,ATL,...,3.0,0.0,0.0,2,22.0,0.0,2.0,7.0,0.0,1.0
799,storytr01,2019.0,0.0,ALS201907090,COL,NL,1,NaN,1,COL,...,85.0,23.0,8.0,58,174.0,0.0,7.0,0.0,3.0,3.0
800,woodrbr01,2019.0,0.0,ALS201907090,MIL,NL,1,NaN,1,MIL,...,4.0,0.0,0.0,1,20.0,0.0,0.0,3.0,0.0,0.0
801,yateski01,2019.0,0.0,ALS201907090,SDN,NL,0,NaN,1,SDN,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0