# Simple EDA with Python

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
pd.options.mode.chained_assignment = None

In [2]:
#Import Data
df_as = pd.read_csv("Data/2021/core/AllstarFull.csv") #All Stars
df_bat = pd.read_csv("Data/2021/core/Batting.csv") #batting (reg season)
df_postbat = pd.read_csv("Data/2021/core/BattingPost.csv") #batting (postseason)
df_field = pd.read_csv("Data/2021/core/Fielding.csv") #fielding
df_pitch = pd.read_csv("Data/2021/core/Pitching.csv") #pitching
df_postpitch = pd.read_csv("Data/2021/core/PitchingPost.csv") #Postseason Pitching
df_sal = pd.read_csv("Data/2021/contrib/Salaries.csv") #salaries
df_people = pd.read_csv("Data/2021/core/People.csv") #player names

In [3]:
df_as['yearID'].describe() #2021 data added.

count    5454.000000
mean     1979.249908
std        25.202333
min      1933.000000
25%      1959.000000
50%      1979.000000
75%      2002.000000
max      2021.000000
Name: yearID, dtype: float64

In [4]:
#Check out Dimensions of the dataframes.
dfs = [df_as, df_bat, df_postbat, df_field, df_pitch, df_postpitch, df_sal, df_people]

for df in dfs:
    print(df.shape)
    
#biggest one: df_bat & df_field

(5454, 8)
(110495, 22)
(15879, 22)
(147080, 18)
(49430, 30)
(6308, 30)
(26428, 5)
(20370, 24)

In [5]:
#Look at some sample columns
for df in [df_bat, df_field, df_sal]:
    print (df.columns)

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')
Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'POS', 'G', 'GS',
       'InnOuts', 'PO', 'A', 'E', 'DP', 'PB', 'WP', 'SB', 'CS', 'ZR'],
      dtype='object')
Index(['yearID', 'teamID', 'lgID', 'playerID', 'salary'], dtype='object')

In [6]:
# To look at only the last decade of data
# create a function to filter for the last decade of data (max year is 2020)
def decadeonly(mydf):
    mydf = mydf[mydf['yearID']>=2010]
    return mydf

### Functions to Calculate Additional Stats

#### BA (Batting Average)

In [7]:
def batting_average(df):
    H = df['H']
    AB = df['AB']
    BA = H/AB
    return round(BA,3) #retain 3 decimal places

#### OBP (On Base Percentage)

In [8]:
#OBP = (Hits + Walks + Hit by Pitch) / (At Bats + Walks + Hit by Pitch + Sacrifice Flies).
def obp(df):
    H = df['H']
    W = df['BB']
    HBP = df['HBP']
    AB = df['AB']
    SF = df['SF']
    OBP = (H+W+HBP)/(AB+W+HBP+SF)
    return round(OBP,3)

#### SLG (Slugging)

In [9]:
#SLG = Total Bases รท At Bats
#Total Bases = Singles + (2 x Doubles) + (3 x Triples) + (4 x Home Runs)
#Total Bases (alternate method) = Hits + Doubles + (2 x Triples) + (3 x Home Runs)[1]
def slg(df):
    total_bases = df['H'] + df['2B'] + 2*df['3B'] + 3*df['HR']
    AB = df['AB']
    SLG = total_bases/AB
    return round(SLG,3)

## Analysis 1: Evaluation of MLB All Stars (season stats)

In [10]:
df_AS = decadeonly(df_as)

#### Get the all stars' regular season stats at the END of the season (overall evaluation)

In [11]:
df_BAT = decadeonly(df_bat)

#### AS Hitters

In [12]:
df_AS_bat = df_AS.merge(df_BAT, on=['playerID','yearID'], how='inner') #889 players

#### AS Pitchers

In [13]:
df_AS_pit = df_AS.merge(df_pitch, on=['playerID','yearID'], how='inner') #370 players

## Calculate Additional Metrics

In [14]:
#Batting Average
df_AS_bat['BA'] = batting_average(df_AS_bat)

In [15]:
#OBP
df_AS_bat['OBP'] = obp(df_AS_bat)

In [16]:
#SLG
df_AS_bat['SLG'] = slg(df_AS_bat)

In [17]:
#OPS = OBP + SLG
df_AS_bat['OPS'] = df_AS_bat['OBP'] + df_AS_bat['SLG']

#### 1a) AS Hitters' Stats (+50AB & in 2021)

In [18]:
#only look at players with < 50 AB (estimate) & in most recent year
df_AS_bat_21 = df_AS_bat[(df_AS_bat['AB']>50) & (df_AS_bat['yearID']==2021)] 
#df_AS_bat_21[['playerID','teamID_x','AB','H','HR','BA','R','RBI','SB','OBP','SLG','OPS']]

In [19]:
df_AS_bat_21

,playerID,yearID,gameNum,gameID,teamID_x,lgID_x,GP,startingPos,stint,teamID_y,...,SO,IBB,HBP,SH,SF,GIDP,BA,OBP,SLG,OPS
797,ohtansh01,2021,0,NLS202107130,LAA,AL,1,1.0,1,LAA,...,189.0,20.0,4.0,0.0,2.0,7.0,0.257,0.372,0.592,0.964
798,ohtansh01,2021,0,NLS202107130,LAA,AL,1,10.0,1,LAA,...,189.0,20.0,4.0,0.0,2.0,7.0,0.257,0.372,0.592,0.964
799,perezsa02,2021,0,NLS202107130,KCA,AL,1,2.0,1,KCA,...,170.0,4.0,13.0,0.0,4.0,14.0,0.273,0.316,0.544,0.860
800,guerrvl02,2021,0,NLS202107130,TOR,AL,1,3.0,1,TOR,...,110.0,7.0,6.0,0.0,2.0,20.0,0.311,0.401,0.601,1.002
801,semiema01,2021,0,NLS202107130,TOR,AL,1,4.0,1,TOR,...,146.0,0.0,3.0,0.0,3.0,9.0,0.265,0.334,0.538,0.872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,turneju01,2021,0,NLS202107130,LAN,NL,1,NaN,1,LAN,...,98.0,0.0,12.0,0.0,6.0,12.0,0.278,0.361,0.471,0.832
884,turnetr01,2021,0,NLS202107130,WAS,NL,1,NaN,1,WAS,...,77.0,0.0,4.0,0.0,2.0,13.0,0.322,0.369,0.521,0.890
885,turnetr01,2021,0,NLS202107130,WAS,NL,1,NaN,2,LAN,...,33.0,2.0,2.0,0.0,2.0,5.0,0.338,0.385,0.565,0.950
887,wheelza01,2021,0,NLS202107130,PHI,NL,0,NaN,1,PHI,...,39.0,0.0,0.0,5.0,0.0,1.0,0.162,0.162,0.191,0.353
888,woodrbr01,2021,0,NLS202107130,MIL,NL,0,NaN,1,MIL,...,28.0,0.0,0.0,3.0,0.0,0.0,0.115,0.164,0.115,0.279